html, body {
	background-color: #FFC0CB !important;

	padding: 0;
	margin: 0;

	width: 100%;
}

#hero {
	max-width: 600px;
	margin: 10px auto;
}

.btn {
	margin: auto;
	width: 100%;
	display: block;
}

#hero > h1 {
	text-align: center;
}

canvas {
	background: #eee;
	display: block;
	margin: 0 auto;
}

.scores {
	display: table;
	margin: auto;
}

.score_item {
	display: table-cell;
}

.score_item > img {
	height: 80px;
}

img {
	margin: 5px;
}

.score_label {
	text-align: center;
}

.bad {
	color: red;
}

.good {
	color: green;
}

.container, #game {
	max-width: 100%;
}

noscript > p {
	text-align: center;
}

footer {
	text-align: center;
	bottom: 0;
	margin: 100px auto;
	max-width: 600px;
}