/*gen*/
html, body {
	width: 100%;
}

body {
	background-color: #FFC0CB !important;
}

html, body, .container-fluid, .row {
	padding: 0;
	margin: 0;

	width: 100%;
}

.btn {
	margin: auto;
	width: 100%;
	display: block;
}

/*main*/

#main {
	margin: 20px auto;
	max-width: 600px;	
}

#main > h1 {
	text-align: center;
}

canvas {
	background: #eee;
	display: block;
	margin: 5px auto;
	max-width: 100%;
}

.div.row.justify-content-center {
	margin: 0 !important;
}

.score_item > img {
	height: 100%;
	max-height: 80px;
}

img {
	margin: 5px;
}

.score_label {
	text-align: center;
}

.bad {
	color: red;
}

.good {
	color: green;
}

noscript > p {
	text-align: center;
}

.footer {
	text-align: center;
	bottom: 0;
	margin: 10px auto;
	max-width: 600px;
}