html, body {
	background-color: #FFC0CB;

	padding: 0;
	margin: 0;
}

#hero {
	text-align: center;
	margin: 5px;
}

#altNoImage {
	height: 60px;
	width: 60px;
}

canvas {
	background: #eee;
	display: block;
	margin: 0 auto;
}

.scores {
	display: table;
	margin: auto;
}

.score_item {
	display: table-cell;
}

.score_item > img {
	height: 80px;
}

img {
	margin: 5px;
}

.score_label {
	text-align: center;
}

.bad {
	color: red;
}

.good {
	color: green;
}